* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 229, 197);
  color: black;
  display: flex;
  justify-content: center;
  font-family: sans-serif;
}

.wrapper {
  width: 450px;
  padding: 30px;
  background-color: rgb(246, 172, 80);
  border-radius: 5px;
  margin-top: 20px;
  text-align: center;
}

.create-form {
    height: 40px;
    width: 100%;
    margin: 25px 0px;
    border: 1px solid rgb(255, 229, 197);
    display: flex;
}

.create-form input {
  outline: none;
  border: none;
  background: none;
  color: aliceblue;
  width: 100%;
  height: 100%;
  padding-left: 10px;
}

.create-form button {
  border: none;
  background-color: rgb(255, 229, 197);
  color: black;
  height: 100%;
  width: 50px;
  cursor: pointer;
}

.todo {
    background-color: rgb(255, 229, 197);
    height: 40px;
    padding: 0 10px;
    margin-top: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.completed {
    opacity: 0.4;
    text-decoration: line-through 3px black;
}